<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.8.3" targetFramework="net40" />
  <package id="Nancy" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.21.1" targetFramework="net40" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Mysql" version="0.19.0.4" targetFramework="net40" />
</packages>